html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  flex-direction: column;
  color: white;
  font-family: 'azo-sans-web', sans-serif;
}

.Logo {
  margin-top: 10vh;
  min-width: 400px;
  margin-bottom: 25px;
}

.Footer {
  color: #777;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 600px) {
  .Logo {
    margin-top: 10vh;
    min-width: 85vw;
    margin-bottom: 25px;
  }

  .Footer {
    position: inherit;
  }
}

a {
  color: #777;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

.Uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
  flex-shrink: 0;
}

.Uploader-status {
  max-width: 325px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 32px;
  font-size: 22px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Dropzone {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px dotted #65c200;
  padding: 40px;
  border-radius: 25px;
  width: 25vw;
  height: 25vw;
  cursor: pointer;
  animation: spin 50s linear infinite;
  transition: all 500ms ease;
  border-radius: 100%;
}

.Shaking {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.Dropzone-active {
  transform: rotate(0);
  background-color: #222;
  border: 7px solid #65c200;
  border-radius: 15px;
  color: white;
  transition: all 500ms ease;
  animation: none;
}

.Dropzone-loaded {
  perspective: 1px;
  background-color: #222;
  border: 5px solid white;
  border-radius: 10px;
  transition: all 500ms ease;
  color: white;
}

.Dropped-image {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.Download {
  margin-top: 25px;
  width: 150px;
}
